{% extends 'oro/base.html' %}
{% load static %}
{% block title %} AEDC {% endblock %}

{% block body %}
    <div class="container-fluid" >
    <img style="height:500px; width:100%" src="{% static 'oro/img/img8.jpeg' %}">
    </div>
</div>
{% comment %} <div class="mainindex" style=" width:100%; background-image:url({% static 'oro/img/img8.jpeg' %}); background-size: cover; background-repeat:no-repeat">
    <div class="container-fluid" style="height:500px">
    </div>
</div> {% endcomment %}
<!-- slider -->
    <div class="container-fluid slidersetting text-center">
        <h1>Our <span>Coming</span> Events</h1>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-3"><img src="{% static 'oro/img/img1.jpg' %}" class="d-block w-100" alt="..."></div>
                        <div class="col-3"><img src="{% static 'oro/img/img2.jpg' %}" class="d-block w-100" alt="..."></div>
                        <div class="col-3"><img src="{% static 'oro/img/img3.jpg' %}" class="d-block w-100" alt="..."></div>
                        <div class="col-3"><img src="{% static 'oro/img/img4.jpg' %}" class="d-block w-100" alt="..."></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3"><img src="{% static 'oro/img/img6.jpg' %}" class="d-block w-100" alt="..."></div>
                        <div class="col-3"><img src="{% static 'oro/img/img2.jpg' %}" class="d-block w-100" alt="..."></div>
                        <div class="col-3"><img src="{% static 'oro/img/img1.jpg' %}" class="d-block w-100" alt="..."></div>
                        <div class="col-3"><img src="{% static 'oro/img/img4.jpg' %}" class="d-block w-100" alt="..."></div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon btn-warning" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon btn-warning" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- end slider -->

    <!-- service section -->
    <section class="container-fluid ourservice text-center">
        <h1>Our <span>Services</span></h1>
        <div class="row rowsetting">
            <div class="col-lg-3 col-md-11 col-sm-4 col-10 d-block m-auto">
                <div class="immgsetting">
                    <div class="imgsetting d-block m-auto"><img src="{% static 'oro/img/img1.jpg' %}" alt=""></div>
                    <h2>Aim</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo corporis animi id eum natus omnis
                        porro laboriosam provident vel itaque</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-11 col-sm-4 col-10 d-block m-auto">
                <div class="immgsetting">
                    <div class="imgsetting d-block m-auto"><img src="{% static 'oro/img/img1.jpg' %}" alt=""></div>
                <h2>Vision</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo corporis animi id eum natus omnis
                    porro laboriosam provident vel itaque</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-11 col-sm-4 col-10 d-block m-auto">
                <div class="immgsetting">
                    <div class="imgsetting d-block m-auto"><img src="{% static 'oro/img/img1.jpg' %}" alt=""></div>
                <h2>Achievments</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo corporis animi id eum natus omnis
                    porro laboriosam provident vel itaque</p>
                </div>
            </div>
        </div>
    </section>
    <!-- end service section -->
{% endblock %}