{% extends 'oro/base.html' %}
{% load static %}
{% block title %} AEDC {% endblock %}
{% block body %}
<div class="container chartmain">
    <h1>President</h1>
    <div class="container containeritem">
        <div class="container left">
        <img src="{% static 'oro/img/img7.gif'%}">
        </div>
        <div class="container right">
        <h2>Lorem ipsum<h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugit laborum earum explicabo molestias eveniet, impedit consequatur alias facere minima, velit harum! Modi porro amet sed dolorum debitis eos reiciendis sint.</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>  (+91) 1234567890</p>
        </div>
    </div>
    <h1>Vice-Preident</h1>
    <div class="container containeritem">
        <div class="container leftanother">
        <h2>Lorem ipsum<h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugit laborum earum explicabo molestias eveniet, impedit consequatur alias facere minima, velit harum! Modi porro amet sed dolorum debitis eos reiciendis sint.</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>  (+91) 1234567890</p>
        </div>
        <div class="container rightanother">
        <img src="{% static '/oro/img/img7.gif'%}">
        </div>
    </div>
    <h1>General-Secretory</h1>
    <div class="container containeritem">
        <div class="container left">
        <img src="{% static '/oro/img/img7.gif'%}">
        </div>
        <div class="container right">
        <h2>Lorem ipsum<h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugit laborum earum explicabo molestias eveniet, impedit consequatur alias facere minima, velit harum! Modi porro amet sed dolorum debitis eos reiciendis sint.</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>  (+91) 1234567890</p>
        </div>
    </div>
    <h1>National-Secretory</h1>
    <div class="container containeritem">
        <div class="container leftanother">
        <h2>Lorem ipsum<h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugit laborum earum explicabo molestias eveniet, impedit consequatur alias facere minima, velit harum! Modi porro amet sed dolorum debitis eos reiciendis sint.</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>  (+91) 1234567890</p>
        </div>
        <div class="container rightanother">
        <img src="{% static '/oro/img/img7.gif'%}">
        </div>
    </div>
    
</div>
{% endblock %}